html {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width:100%;
    height:100%;
    margin: 0;
    background-image: url(./images/dictionary.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    min-height: calc(100vh - 145px);
    text-align: center;
}

section {
    display: flexbox;
    align-items: flex-end;
    padding: 2em;
    margin: 0;
    font-size: large;
    width: 1000px;
    height: 300px;
}

main p {
   text-align: center;
   font-size: x-large; 
}

main div {
    display: inline-block;
    vertical-align: middle;
    margin-top: 150px;
}

.definition {
    color:mediumblue;
    font-weight: bolder;
    font-size:xx-large;
    text-align: center;
}

.error {
    color:crimson;
}

footer {
    font-size:larger;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-weight: bolder;
}

button {
    border-radius: 0px;
    background-color: mediumblue;
    color: blanchedalmond;
    width: 100px;
    height: 49px;
    font-size: larger;
}

.search {
    width: 1000px;
    height: 50px;
    font-size:large;
}

a {
    color:mediumblue;
}